7_n8n/5_google_drive_airtable.json
{
  "name": "5_google_drive_airtable",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zuOscSxUcIXAO7vjtc356DveJB6WgzdA",
          "mode": "list",
          "cachedResultName": "n8ndemo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zuOscSxUcIXAO7vjtc356DveJB6WgzdA"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1f6704df-3102-4093-88c4-09117b0acd71",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1HJYKQ7Sp1rcistr",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "ekahate@gmail.com"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ee697ffe-f77f-4824-86ce-f80a5767b906",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1HJYKQ7Sp1rcistr",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appaUwpqsxmZmIkBC",
          "mode": "list",
          "cachedResultName": "cheques_data",
          "cachedResultUrl": "https://airtable.com/appaUwpqsxmZmIkBC"
        },
        "table": {
          "__rl": true,
          "value": "tblYrwxbtom0Vu4Av",
          "mode": "list",
          "cachedResultName": "gmail_data",
          "cachedResultUrl": "https://airtable.com/appaUwpqsxmZmIkBC/tblYrwxbtom0Vu4Av"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Recipient Email": "={{ $('Google Drive Trigger').item.json.permissions[0].emailAddress }}",
            "File ID": "={{ $('Google Drive Trigger').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creation Time",
              "displayName": "Creation Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Recipient Email",
              "displayName": "Recipient Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "43e411be-2ac5-4e60-89f0-a8370361703f",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "6ENi8nXZ738X2nCq",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c0264c9-5536-4bda-955e-c014a1bdfc3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d97cb4244f898240be0381c2d99a8a906571e0ad124280c5b7d9b13601de668"
  },
  "id": "Iz75LokQDQ1o9YnC",
  "tags": []
}